

<main class="d-flex justify-content-center row ">

    <div class="title">
        <p>TV Room</p>
      </div>
      
      <section class="form-size">
        <a class="form1" href="clientFurniture">
        <div class="form-1">
          <img src="../../../assets/image1.svg" alt="">
          <p>Balcão 2 Portas Multiuso Cool Artany</p>
          <div class="preço">
            <p>R$ 300,00</p>
          </div>
        </div>
        </a>
      
        <a class="form2" href="clientFurniture">
        <div class="form-2">
          <img src="../../../assets/image2.svg" alt="">
          <p>Mesa p/Escritório ME4102 Carvalho</p>
          <div class="preço">
            <p>R$ 300,00</p>
          </div>
        </div>
      </a>
      
        <a class="form3" href="clientFurniture">
        <div class="form-3">
          <img src="../../../assets/image3.svg" alt="">
          <p>Guarda Roupa Casal 6 Portas Falco Yescasa Avena/grafito</p>
          <div class="preço">
            <p>R$ 300,00</p>
          </div>
        </div>
      </a>
        
       
      </section>
    
    </main>