<div class="title">
  <p>Client Search</p>
</div>

<form class="form-input">
  <div class="mb-3 " style="width: 17%;">
    <label for="exampleFormControlInput1" class="form-label">CPF</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
</form>


<form class="form-input">
  <div class="mb-3" style="margin-top: 5%;">
    <label for="exampleFormControlInput1" class="form-label">Phone number</label>
    <input type="email" class="form-control" id="exampleFormControlInput2">
  </div>
</form>


<form class="form-input">
  <div class="mb-3 " style="margin-top: 5%;">
    <label for="exampleFormControlInput1" class="form-label">Client Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    <button type="button" (click)="searchClient()" class="btn btn-warning"
      style="width:80%; margin: 15% 0 0 9.5%;">Search</button>
  </div>
</form>
<!--
[(ngModel)]="search.exampleFormControlInput1"
 [(ngModel)]="search.exampleFormControlInput2"
-->