<div class="title">
  <p>Office</p>
</div>

<section class="form-size">
  <div class="form-1">
    <img src="../img/image 10.svg" alt="">
    <p>Balcão 2 Portas Multiuso Cool Artany</p>
  </div>

  <div class="form-2">
    <img src="../img/image 11.svg" alt="">
    <p>Mesa p/Escritório ME4102 Carvalho</p>
  </div>

  <div class="form-3">
    <img src="../img/image 12.svg" alt="">
    <p>Guarda Roupa Casal 6 Portas Falco Yescasa Avena/grafito</p>
  </div>

  <div class="form-4">
    <img src="../img/image 10.svg" alt="">
    <p>Balcão 2 Portas Multiuso Cool Artany</p>
  </div>

  <div class="form-5">
    <img src="../img/image 11.svg" alt="">
    <p>Mesa p/Escritório ME4102 Carvalho</p>
  </div>

  <div class="form-6">
    <img src="../img/image 12.svg" alt="">
    <p>Guarda Roupa Casal 6 Portas Falco Yescasa Avena/grafito</p>
  </div>

</section>

<div class="button">
  <button type="button" class="btn btn-warning" style="width: 200px;">Warning</button>
</div>

<div class="mark-page">
  <div class="mark-page1"></div>
  <div class="mark-page2"></div>
  <div class="mark-page3"></div>
  <div class="mark-page4"></div>
</div>
