<div class="title">
    <p>Request Search</p>
</div>

<form class="form-input">
    <div class="mb-3 " style="width: 17%;">
        <label for="exampleFormControlInput1" class="form-label">Client Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>

      <div class="mb-3" style="width: 17%;">
        <label for="exampleFormControlInput1" class="form-label">Initial date</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>

      <div class="mb-3" style="width: 17%;">
        <label for="exampleFormControlInput1" class="form-label">Final date</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
</form>

<form class="form-input-2">
    <div class="mb-3 " style="width: 17%;">
        <label for="exampleFormControlInput1" class="form-label">Phone number</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>

      <div class="mb-3" style="width: 17%;">
        <label for="exampleFormControlInput1" class="form-label">Status</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        
      </div>
</form>

<form class="form-input-2">
    <button type="button" class="btn btn-warning" style="width:15%;">Search</button>
</form>
