    .title {
        text-align: center;
        margin-top: 5vw;
        font-size: 2vw;
        color: #0E1543;
    }
    .form-input {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5vw;
        margin-top: 4%;
        grid-template-columns: auto;
        font-size: 1.2vw;
    }
    .form-input-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5vw;
        margin-top: 2%;
        grid-template-columns: auto;
        font-size: 1.2vw;
    }
