<main class="d-flex justify-content-center row ">

<div class="title">
  <p>Profile</p>
</div>

<div class="foto-perfil">
  <img src="../img/perfil.png" alt="">
</div>

<div class="input">

  <div>
    <label for="exampleFormControlInput1" class="form-label">Company Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">CNPJ</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
</div>

<div class="sub-title">
  <p>Address</p>
</div>

<div class="input">

  <div>
    <label for="exampleFormControlInput1" class="form-label">Street</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">Number</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">Complement</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

</div>

<div class="input-2">

  <div>
    <label for="exampleFormControlInput1" class="form-label">Neighbor</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">City</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">CEP</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

</div>

<div class="sub-title">
  <p>Contact</p>
</div>

<div class="input">

  <div>
    <label for="exampleFormControlInput1" class="form-label">Phone number</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">Social Network</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

</div>

<div class="button">
  <button type="button" style="width: 10%;" class="btn btn-warning" (click)="confirmProfile()">Confirm</button>

</div>
</main>