<section>
    <nav class="navbar navbar-expand navbar-light bg-light " aria-label="Second navbar example">
        <div class="container-fluid">
            <img src="./img/logo.svg">

            <div class="nav justify-content-end" id="navbarsExample02">

                <ul class="navbar-nav " >
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search Woodwork</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="filterWoodworks">Request Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accompany Budget</a>
                    </li>
                </ul>

                <form role="search">
                    <img src="./img/profile.svg">
                </form>
            </div>
        </div>
    </nav>
</section>