<form class="index2-form-1">

    <div class="sign">
        <p>Sign in as</p>
    </div>
    <button type="button" class="btn_woodworker" (click)="signAsWoodWorker()">Woodworker</button>
    <button type="button" class="btn_client">Client</button>

</form>

<form class="index2-form-2">

    <div class="welcome">
        <p>Welcome!</p>
    </div>
    <div class="email">
        <p>E-mail</p>
        <input type="text" class="in_email">
    </div>
    <div class="password">
        <p>Password</p>
        <input type="password" class="in_password">
    </div>
    <div class="forgot">
        <u>Forgot your password?</u>
    </div>
    <button type="button" class="login_btn">Login</button>

</form>