* {
    margin: 0;
    padding: 0;

}

.container-fluid {
    height: 90px;

}

.nav-item {
    margin-right: 30px;
    font-size: 16px;
}

.navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 2vw;
    margin-top: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: center;

    margin-left: -40px;
    gap: 10%;
    margin-top: 5vw;
}

#exampleFormControlInput1 {
    width: 120%;
    height: 40px;
    border: 2px solid #1A67AE;


}

.button {
    display: flex;
    justify-content: center;

    margin-top: 10vw;
    gap: 40px;
    height: 40px;
    width: 100%;

}