<main class="d-flex justify-content-center row ">

<div class="title">
    <p>Register Furniture</p>
</div>

<form class="form-photo">
<button type="button">Add a Photo</button>
</form>

<div class="input-1">
    <p>Add name: </p>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">

    <div class="description">
        <label for="exampleFormControlTextarea1" class="form-label">Add description:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    
        <form class="form-color">
            <p>Color options</p>
        </form>

        <div class="text-color">
            <p>Add standart color:</p>

            <div class="buttons-color">
                <form class="button-color-1"></form>
                <form class="button-color-2"></form>
           
        </div>
    </div>

    <div class="text-color-2">
        <p>Add color:</p>

        <div class="buttons-color">
            <form class="button-color-1"></form>
            <form class="button-color-2"></form>
            <form class="button-color-3"></form>
            <form class="button-color-4"></form>
            <form class="button-color-5"></form>
        </div>
</div>
        </div>
        <form class="form-size">
            <p>Furniture size</p>
        </form>

        <div class="size">
            <p>1 m x 90 cm</p>
            <p>1,15 m x 90 cm</p>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        
        <form class="form-time">
            <p>Furniture size</p>
        </form>

        <div class="input-2">
            <p>Add name: </p>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>

    <form class="button">
        <button type="button" class="btn btn-warning" style="width:50%;">Back</button>
    </form>
</div>

</main>