<main class="d-flex justify-content-center row ">
    <section class="d-flex flex-column m-3 justify-content-center align-items-center col">
        <div class="pattern_font_tittle">
            <h2>Sign in as</h2>
        </div>
        <div class="d-flex flex-column">
            <button type="button" class="pattern_btn me-3 p-3" (click)="signAsWoodWorker()">Woodworker</button>
            <button type="button" class="pattern_btn me-3 p-3" id="btnClient" (click)="signAsClient()">Client</button>
        </div>
    </section>
    <section class=" d-flex justify-content-center card p-2 m-5 align-items-center col">
        <ul>
            <li>
                <h3>You are Welcome!</h3>
            </li>
            <li>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">E-mail</span>
                        <input type="text" class="form-control patterns_field_text" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default" [(ngModel)]="email" >
                    </div>
                </div>
            </li>
            <li>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                        <input type="password" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" [(ngModel)]="password">
                    </div>
                </div>
            </li>
            <li><button type="button" class="pattern_btn me-3 p-3" data-bs-toggle="modal" data-bs-target="#Modal"
                        (click)="login()" >Login</button>
            </li>
        </ul>
    </section>
</main>
<div class="modal fade" id="Modal" *ngIf="flag" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="loginFailure()"></button>
      </div>
      <div class="modal-body">
        Login ou senha Incorretos, verifique por favor!!
      </div>
    </div>
  </div>
</div>
<!--
<section id="wrong" *ngIf="flag" class="p-2 m-3" >
                    <h5 class="patern_font_text"></h5>
                </section>-->
