<div class="title">
  <p>Contact</p>
</div>

<div class="input">

  <div>
    <label for="exampleFormControlInput1" class="form-label">Phone number</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">Social Network</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

</div>

<div class="button">
  <button type="button" style="width: 10%;" class="btn btn-outline-primary" (click)="Back()">Back</button>
  <button type="button" style="width: 10%;" class="btn btn-warning" (click)="Next()">Next</button>

</div>