
<main class="d-flex justify-content-center row ">

<div class="title">
    <p>Woodwork´s name</p>
</div>

<div id="description">

    <div class="sub-title">
        <h3>Description</h3>
        <br><br><p>A Dimare aplica em seus produtos matéria-prima da melhor qualidade, selecionada entre seletos fornecedores - como Duratex, Eucatex e Berneck emprega equipamentos e tecnologia de ponta.
            <br><br>Com profissionais altamente qualificados, oferece produtos fabricados com excelência, de alto padrão, que harmonizam ambientes, trazendo personalização e exclusividade para clientes e consumidores.</p>
    </div>


    
    <div class="city">
        <p>Blumenau - SC</p>


    <div class="Neighborhood">
        <p>Neighborhood: Itoupava Central</p>
  

    <div class="phone">
        <p>Phone number: 33230063</p>
  


    <div class="cnpj">
        <p>CNPJ: 21777833000133</p>
    


    <div class="email">
        <p>Email: budgetech@gamil.com</p>


    <div class="facebook">
        <p>Facebook: @budgetech</p>
    </div>

    
       <div id="buttons">
        <button type="button" class="btn btn-warning" style="width:60%;" (click)="Request()">Request</button>
      
        <button type="button" class="btn btn-warning" style="width:40%;" (click)="Back()">Back</button></div>

                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>
