<div class="title">
  <p>Profile</p>
</div>

<div class="foto-perfil">
  <img src="../img/perfil.png" alt="">
</div>

<div class="input">
  <div>
    <label for="exampleFormControlInput1" class="form-label">Company Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">CNPJ</label>
    <input type="email" class="form-control" id="exampleFormControlInput2">
  </div>
</div>

<div class="button">
  <button type="button" style="width: 10%;" class="btn btn-warning" (click)="editProfile()">Edit Profile</button>
</div>
<!--
   (click)="editProfile()"
-->