main {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: center;
    width: 500px; 
    height: 700px; 
    
    margin-top: 0.5vw;
     
}
.title {
    font-size: 2vw;
    margin-top: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
.sub-title {
    width: 100%;
}
#exampleFormControlInput1 {
    background-color: white;
    border: 2px solid #1A67AE;
    border-radius: 10px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70%;
    background-color: white;
    border: 2px solid #1A67AE;
    border-radius: 10px;
}
.add a {
    text-decoration: none;
    color: black;
}
.button {
    display: flex;
    justify-content: end;
    margin-left: 20vw;

    width: 70%;
}