<div class="title">
    <p>Woodworks found</p>
</div>
<div class="container-1">
    <form class="form-container-1">
        <a class="form1" href="description">
        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-1">
                <img src="../../../assets/image 30.svg" style="width: 17.7vw;" alt="">
            </div>
        </div>
    </a>
        </form>
        
        <form class="form-3">
            <a class="form2" href="description">
            <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
                <div class="imagem-2">
                    <img src="../../../assets/image 31.svg" style="width: 15.7vw;" alt="">
                </div>
            </div>
        </a>
        </form>
</div>