* {
    margin: 0;
    padding: 0;

}

.container-fluid {
    height: 90px;

}


.nav-item {
    margin-right: 30px;
    font-size: 1vw;
}

.navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 2vw;
    color: #0E1543;
}

.mb-3 {
    margin-top: 40px;


}

.form-control {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

#form-input {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 130px;
}

.btn-warning {
    color: white;
    width: 10%;
    height: 40px;
    margin-right: 6.5vw;

}
.button-1{
    display: flex;
    justify-content: end;
}

.sub-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2vw;
    color: #0E1543;
}

.form-group {
    width: 250px;
    height: 250px;
}

.form-container-1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    justify-content: center;

    margin-top: 50px;
}
#exampleFormControlInput1{
    width: 120%;
    height: 40px;
    border: 2px solid #1A67AE;
    padding: 10px;
}

.imagem-1 {
    padding: 10px 0 0 0;
}

.imagem-2 {
    padding: 15px;
}

.imagem-3 {
    padding: 5px;
}

.imagem-4 {
    padding: 10px 0 0 0;
}