<main class="d-flex justify-content-center row ">
<section class="body">
    <div class="title">
        <p>Select some preference to find the best woodworking for you!</p>
    </div>

    <form id="form-input">
        <div class="mb-3 " style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">Woodworking´s name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3" style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">CNPJ</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="mb-3" style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">Phone number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="mb-3" style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">Neighborhood</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            
    
        </div>
        
    </form>
    <div class="button-1">
        <button type="button" class="btn btn-warning">Search</button></div>
    <div>
    </div>
    
    <form class="form-container-1">

        <a class="form1" href="foundWoodwork">
        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-1">
                 <img src="../../../assets/image 30.svg" alt="">
            </div>
        </div>
    </a>


        <a class="form-1" href="foundWoodwork">
        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-2">
            
                <img src="../../../assets/image 31.svg" alt="">
            </div>
        </div>
    </a>

    <a class="form-2" href="foundWoodwork">
        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-3">
                <img src="../../../assets/image 32.svg" alt="">
            </div>
        </div>
    </a>

    <a class="form3" href="foundWoodwork">
        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-4">
                <img src="../../../assets/image 30.svg" alt="">
            </div>
        </div>
    </a>

    </form>  


</section>

</main>