<main class="d-flex justify-content-center row ">

    <form class="form-photo">
        <img src="./img/balcao5.svg" alt="">
      </form>
      
      <div class="input-1">
        <div class="title">
            <p>Balcão 2 Portas Multiuso Cool Artany</p>
        </div>  
        <div class="description">
            <p>Material: MDP de 15mm de espessura, proveniente de madeira reflorestada, em um processo em harmonia com a natureza;
            </p>
        </div>
      
        <div class="color">
          
          <form class="form-color">
            <p>Color options</p>
          </form>
      
          <div class="text-color">
            <p>Add standart color:</p>
      
            <div class="buttons-color">
              <form class="button-color-1"></form>  
            </div>
          </div>
      
          <div class="text-color-2">
            <p>Add color:</p>
      
            <div class="buttons-color">
              <form class="button-color-1"></form>
              <form class="button-color-2"></form>
              <form class="button-color-3"></form>
              <form class="button-color-4"></form>
      
            </div>
          </div>
        </div>
        <form class="form-size">
          <p>Furniture size</p>
        </form>
      
        <div class="size">
          <p>1 m x 90 cm</p>
          <p>1,15 m x 90 cm</p>
          <p>1,25 m x 95 cm</p>
          <p>1,35 m x 1 m</p>
        </div>
      
        <form class="form-time">
          <p>Tempo de produção</p>
        </form>
      
        <div class="tempo">
          <p>2 Semanas</p>
        </div>
        <div class="algo-mais">
            <p>Algo mais?</p>
        </div>
        <div class="exemplo">
            <p>Ex: Alguma cor específica, tamanho personalizado, tempo de entrega, etc.</p>
        </div>
      
        <form class="button">
          <button type="button" class="btn btn-warning">Confirm</button>
        </form>
      </div>
</main>