<div class="title">
    <p>Living Area</p>
</div>
<form class="container-fluid-2">
    <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
        <div class="imagem-1">
            <a href=""><img src="../../assets/image 30.svg" style="width: 13vw;" alt=""></a>
        </div>
    </div>

    <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
        <div class="imagem-2">
            <a href=""><img src="../../assets/image 31.svg" style="width: 12vw;" alt=""></a>
        </div>
    </div>

    <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
        <div class="imagem-3">
            <a href=""><img src="../../assets/image 32.svg" style="width: 13vw;" alt=""></a>
        </div>
    </div>

    <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
        <div class="imagem-4">
            <a href=""><img src="../../assets/image 33.svg" style="width: 11vw;" alt=""></a>
        </div>
    </div>

    <form class="form-container-2">
        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-5">
                <a href=""><img src="../../assets/image 30.svg" style="width: 13vw;" alt=""></a>
            </div>
        </div>

        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-6">
                <a href=""><img src="../../assets/image 31.svg" style="width: 12vw;" alt=""></a>
            </div>
        </div>

        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-7">
                <a href=""><img src="../../assets/image 32.svg" style="width: 13vw;" alt=""></a>
            </div>
        </div>

        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-8">
                <a href=""><img src="../../assets/image 33.svg" style="width: 11vw;" alt=""></a>
            </div>
        </div>
    </form>
</form>