<main class="d-flex justify-content-center row ">

<div class="title">
    <p>My Request</p>
</div>

<div class="main-form">
    <div class="form1">

        <div class="form-1">
            <div>
                <p>Name :</p>
                <p>CPF :</p>
            </div>

            <div>
                <p>E-mail :</p>
                <p>Phone number:</p>
            </div>
        </div>

        <div class="form2">

            <div class="form-2">
                <div>
                    <p>StreetName:</p>
                    <p>Number :</p>
                    
                </div>

                <div>
                    <p>Neighbor:</p>
                    <p>City :</p>
                </div>
            </div>
        </div>
        <div class="button">
            <button type="button" style="width: 10%;" class="btn btn-warning" (click)="Back()">Back</button>
            <button type="button" style="width: 10%;" class="btn btn-warning" (click)="Buy()">Buy</button>
        </div>
    </div>
</div>

</main>