<main class="body">
    <div class="title">
        <p>Select some preference to find the best woodworking for you!</p>
    </div>

    <form id="form-input">
        <div class="mb-3 " style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">Woodworking´s name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3" style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">CNPJ</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="mb-3" style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">Phone number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="mb-3" style="width: 60%;">
            <label for="exampleFormControlInput1" class="form-label">Neighborhood</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
    </form>
    <div>
        <button type="button" class="btn btn-warning">Search</button>
    </div>

    <a class="form1" href="description">
        <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
            <div class="imagem-1">
                <img src="../img/image 30.svg" alt="">
            </div>
        </div>
    </a>

    <form class="form2" href="description">

        <a class="form-1" href="foundWoodwork">
            <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
                <div class="imagem-1">

                    <img src="../img/image 30.svg" alt="">
                </div>
            </div>
        </a>
        <a class="form-2" href="foundWoodwork">

            <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
                <div class="imagem-2">
                    <img src="../img/image 31.svg" alt="">
                </div>
            </div>
        </a>

        <a class="form3" href="description">

            <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
                <div class="imagem-3">
                    <img src="../img/image 32.svg" alt="">
                </div>
            </div>
        </a>


        <a class="form4" href="description">

            <div class="form-group bg-light" style="border: 2px solid #1A67AE; border-radius: 10px;">
                <div class="imagem-4">
                    <img src="../img/image 33.svg" alt="">
                </div>
            </div>
        </a>
    </form>
</main>