{{ client | json }}
<main class="d-flex justify-content-center row ">

<div class="tab" *ngIf="currentTab == 0">
  <div class="title">
    <p>Sign in as Client</p>
  </div>


  <div class="foto-perfil">
    <img src="../../../../assets/perfil.svg" alt="">
  </div>

  <div class="input">

    <div>
      <label for="exampleFormControlInput1" class="form-label">CPF</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.cpfClient" >
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.firstName" >
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">Last Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.lastName" >
    </div>


  </div>

</div>

<div class="tab" *ngIf="currentTab == 1">
  <div class="title">
    <p>Contact</p>
  </div>

  <div class="input">

    <div>
      <label for="exampleFormControlInput1" class="form-label">Phone number</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.phone">
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.email">
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">Social Network</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.socialNetwork">
    </div>

  </div>
</div>

<div class="tab" *ngIf="currentTab == 2">
  <div class="title">
    <p>Password</p>
  </div>

  <div class="input">

    <div>
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.login">
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.password">
    </div>

  </div>
</div>

<div class="tab" *ngIf="currentTab == 3">
  <div class="title">
    <p>Address</p>
  </div>

  <div class="input">

    <div>
      <label for="exampleFormControlInput1" class="form-label">Street</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.streetName">
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">Number</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.number">
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">Complement</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.complement">
    </div>

  </div>


  <div class="input-2">

    <div>
      <label for="exampleFormControlInput1" class="form-label">Neighbor</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.neighborhood"> 
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">City</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.city">
    </div>

    <div>
      <label for="exampleFormControlInput1" class="form-label">CEP</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="client.cep">
    </div>

  </div>
</div>

<div class="button">
  <button type="button" style="width: 10%;" class="btn btn-outline-primary" (click)="addTab(-1)"
    *ngIf="currentTab != 0">Back</button>
  <button type="button" style="width: 10%;" class="btn btn-warning" (click)="addTab(+1)"
    *ngIf="currentTab != 3">Next</button>
  <button type="button" style="width: 10%;" class="btn btn-success" (click)="doRegister()"
    *ngIf="currentTab == 3">Cadastrar</button>
</div>

<div class="steps" style="display: flex; flex-direction: row; justify-content: center;">
  <span class="step" [ngStyle]="{'background-color': (currentTab == 0 ? '#ffc000' : '#ffffff')}"></span>
  <span class="step" [ngStyle]="{'background-color': (currentTab == 1 ? '#ffc000' : '#ffffff')}"></span>
  <span class="step" [ngStyle]="{'background-color': (currentTab == 2 ? '#ffc000' : '#ffffff')}"></span>
  <span class="step" [ngStyle]="{'background-color': (currentTab == 3 ? '#ffc000' : '#ffffff')}"></span>
</div>
</main>