<div class="title">
  <p>Address</p>
</div>

<div class="input">

  <div>
    <label for="exampleFormControlInput1" class="form-label">Street</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">Number</label>
    <input type="email" class="form-control" id="exampleFormControlInput2">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">Complement</label>
    <input type="email" class="form-control" id="exampleFormControlInput3">
  </div>

</div>

<div class="input-2">

  <div>
    <label for="exampleFormControlInput1" class="form-label">Neighbor</label>
    <input type="email" class="form-control" id="exampleFormControlInput4">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">City</label>
    <input type="email" class="form-control" id="exampleFormControlInput5">
  </div>

  <div>
    <label for="exampleFormControlInput1" class="form-label">CEP</label>
    <input type="email" class="form-control" id="exampleFormControlInput6">
  </div>

</div>

<div class="button">
  <button type="button"  style="width: 10%;" class="btn btn-outline-primary" >Back</button>
  <button type="button" style="width: 10%;" class="btn btn-warning" >Done</button>

</div>
<!--
(click)="back()"
(click)="done()" 
-->